# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will 
# be requested for review when someone opens a pull request.
*       @am6010 @kuldeep0020

# Order is important; the last matching pattern takes the most
# precedence.